<div
  class="fixed bottom-0 p-2 text-center text-white font-extrabold w-full"
  id="bg"
>
  Developed By
  <a class="font-extrabold" target="_blank" href="https://github.com/Pranesh-vimal/">Pranesh</a>
</div>
